
<div class="flex">
    {% for product in block.settings.product_list %}
    
    <div class="fbt-item width h-100 ">
        {% assign img = product.metafields.custom.loop_image.value %}
        {% if img %}
            <div class="image-card">
                <input class="check-position" type="checkbox"
                   id="fbt-variant-{{ product.id }}"
                   value="{{ product.id }}"
                   data-price="{{ product.price | unit_price_with_measurement }}"
                   checked onchange="updateFBTPrice()">
                {{ img | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
            </div>
        {% elsif product.featured_image %}
            <div lass="image-card">
                {{ product.featured_image | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
                <input class="check-position" type="checkbox" name="product_id" value="{{ product.id }}">
            </div>
        {% endif %}

        <p id="size"><strong>{{ product.title }}</strong></p>
        <p id="cyan"><strong>{{ product.price | money }}</strong></p>
        
    </div>
    <div id="myBlueDiv">{% render 'icon-plus' %}</div>
    {% endfor %}
</div>

<script>
    var total_price = {{ product.price }};
</script>

{% stylesheet %}
#myBlueDiv {
 position: relative;
 top: 125px;
}
#myBlueDiv:last-child{
    display: none;
}
.image-card input:checked, .image-card input:hover {
    background-color: #018476;
}
.check-position{
    position: absolute;
    top: 10px;     
    right: 10px;   
    width: 25px;
    height: 25px;
    z-index: 99;;
}
    #size{
        font-size: 18px;
    }
    #cyan{
        color: #018476;
        font-size: 21px;
    }
    .width{
        width: 230px;
    }
    .image-card{
        position: relative; /* important */
  display: inline-block;
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        padding: 20px;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Frequently bought",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    }
  ],
  "presets": [
    {
      "name": "Frequently bought together"
    }
  ]
}
{% endschema %}
