
<div class="flex">
    {% for product in block.settings.product_list %}
    <div class="fbt-item width">
        {% assign img = product.metafields.custom.loop_image.value %}
        {% if img %}
            <div class="image-card">
                {{ img | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
                <input class="check-position" type="checkbox" name="product_id" value="{{ product.id }}">
            </div>
        
        {% elsif product.featured_image %}
            <div lass="image-card">
                {{ product.featured_image | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
            </div>
        {% endif %}

        <p id="size"><strong>{{ product.title }}</strong></p>
        <p id="cyan"><strong>{{ product.price | money }}</strong></p>
        
    </div>
    {% endfor %}
</div>
{% stylesheet %}
.check-position{
    position: relative;
    right: 10px;
    top: 10px;
    z-index: 99;
}
    #size{
        font-size: 18px;
    }
    #cyan{
        color: #018476;
    }
    .width{
        width: 200px;
    }
    .image-card{
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        padding: 20px;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Frequently bought",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    }
  ],
  "presets": [
    {
      "name": "Frequently bought together"
    }
  ]
}
{% endschema %}
