
<div class="flex">
    {% for product in block.settings.product_list %}
    <div class="fbt-item width text-cyan">
        {% assign img = product.metafields.custom.loop_image.value %}
        {% if img %}
            <div class="image-card">
                {{ img | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
            </div>
        
        {% elsif product.featured_image %}
            <div lass="image-card">
                {{ product.featured_image | image_url: width: 300 | image_tag: loading: 'lazy', alt: product.title }}
            </div>
        
        {% endif %}

        <p id=""><strong>{{ product.title }}</strong></p>
        <p class=""><strong>{{ product.price | money }}</strong></p>
        <input type="checkbox" name="product_id" value="{{ product.id }}">
    </div>
    {% endfor %}
</div>
{% stylesheet %}
    .width{
        width: 200px;
    }
    .image-card{
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        padding: 20px;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Frequently bought",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    }
  ],
  "presets": [
    {
      "name": "Frequently bought together"
    }
  ]
}
{% endschema %}
