{% stylesheet %}
  .products-carousel .embla__item > .flex {
    gap: 80px;
  }

  .products-carousel .col-img {
    border-radius: 10px;
    width: 40%;
    padding: 20px;
  }

  .products-carousel .col-content {
    width: 60%;
  }

  .products-carousel .col-img img {
    width: 194px;
  }

  .products-carousel .col-img > * {
    width: 27.5%;
  }

  .products-carousel .prod-img {
    width: 45%;
  }

  .products-carousel .section-subheading {
    background-color: #7c76c8;
    display: inline-block;
  }
{% endstylesheet %}

<style></style>

<div class="embla cols-1 no-gap">
  <div class="embla__viewport">
    <div class="embla__container">
      {% for product in block.settings.product_list %}
        <style>
          [data-product-id="{{ product.id }}"] .col-img {
              background-color: {{ product.metafields.custom.color }}
          }
        </style>
        <div class="embla__item" data-product-id="{{ product.id }}">
          <div class="flex">
            <div class="col-img flex">
              <div class="marks"></div>
              <div class="prod-img flex justify-center">
                {{
                  product.metafields.custom.loop_image
                  | image_url:
                    width: product.metafields.custom.loop_image.width,
                    height: product.metafields.custom.loop_image.height
                  | image_tag
                }}
              </div>
              <div class="discount"></div>
            </div>
            <div class="col-content">
              <p class="section-subheading">wd</p>
              <h3>{{ product.title }}</h3>
              <p>{{ product.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="embla__controls">
    <button class="embla__button embla__button--prev" type="button">
      {% render 'icon', icon: 'chevron-left' %}
    </button>

    <button class="embla__button embla__button--next" type="button">
      {% render 'icon', icon: 'chevron-right' %}
    </button>

    <div class="embla__dots flex"></div>
  </div>
</div>

<script src="{{ 'embla-carousel.umd.js' | asset_url }}" defer></script>
<script src="{{ 'mount-embla.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Products Carousel",
  "class": "products-carousel",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    }
  ],
  "presets": [
    {
      "name": "Products Carousel"
    }
  ]
}
{% endschema %}
