{%- liquid
    assign share_url = shop.url | append: product.url
    
    assign action = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
-%}
<ul>
    <li class="{{enable_facebook | replace: false, 'd-none' | replace: true, 'd-block'}}">
    <a aria-label="Facebook" class="" href="https://www.facebook.com/sharer.php?u={{ share_url }}" onclick="{{ action }}">
      {% render 'icon', icon: 'facebook' | width: 205px %}
      <span class="visually-hidden">Facebook</span>
    </a>
  </li>
    <li class="d-block">
    <a aria-label="Twitter" class="social-share-link d-flex middle-xs bg-transparent pt-12 pr-24 pb-12 pl-24" href="https://twitter.com/share?text={{ type.title }}&url={{ share_url }}" onclick="{{ action }}">
      {% render 'icon', icon: 'facebook' | width: 205px %}
      Twitter
    </a>
  </li>
</ul>
{%  schema  %} 
{
    "name": "Social Share",
    "settings": [
        {
          "type": "header",
          "content": "Social"
        },
        {
          "type": "checkbox",
          "id": "enable_facebook",
          "label": "Facebook",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_x",
          "label": "X",
          "default": true
        }
        ,
        {
          "type": "checkbox",
          "id": "enable_pinterest",
          "label": "Pinterest",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_email",
          "label": "Email",
          "default": true
        }
      ],
      "presets": [
        {
            "name": "Social Share",
            "category": "t:categories.product"
        }
      ]
}
{% endschema %}