{% liquid
  assign timelineheader = product.metafields.custom.timeline_items.value
  assign timelinecontent = product.metafields.custom.timeline_items_content.value
%}

    <div class="right">  
        <div class="timeline">
            {% for item in timelineheader %}
                {% assign i = forloop.index0 %}
                {% assign otheritem = timelinecontent[i] %}
                <div class="timeline-item">
                <div class="timeline-number">
                    {{ forloop.index | prepend: '0' }}
                </div>
                <div class="timeline-content">
                    <h3>{{ item }}</h3>
                    <p>{{ otheritem }}</p>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>      

{%  stylesheet  %} 
.section {
  padding: 40px;
  background: #f5f5f5;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* LEFT IMAGE */
.left img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

/* RIGHT SIDE */
.right {
  flex: 1;
}

.timeline {
  position: relative;
  padding-left: 40px;
}

/* vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #0a7c6f;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

/* number circle */
.timeline-number {
  position: absolute;
  left: -40px;
  top: 10px;
  background: #0a7c6f;
  color: #fff;
  font-size: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content box */
.timeline-content {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.timeline-content h3 {
  margin: 0 0 6px;
  font-size: 16px;
}

.timeline-content p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
{% endstylesheet %}
{% schema  %} 
    {
        "name": "Timeline Section",
        "class": "w-100",
        "settings": [
            {
                "type": "text",
                "id": "custom_css",
                "label": "Custom CSS classes"
            },
            {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == \"custom\" }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == \"custom\" }}"
    }
        ],
        "presets": [
    {
        "name": "Timeline product block"
    }
  ]
    }
{% endschema %}