{{ 'embla-styles.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
  .home-hero .inner-content {
    max-width: 630px;
    padding-right: 20px;
  }

  .home-hero img {
    width: 100%;
    height: 600px;
  }

  .home-hero .heading {
    font-size: 52px;
    font-weight: bold;
    line-height: 110.00000000000001%;
  }
{% endstylesheet %}

<div class="embla cols-1 color-scheme-1">
  <div class="embla__viewport">
    <div class="embla__container">
      {% for item in section.blocks %}
        <div class="grid embla__item cols-2 no-template-areas ">
          <div class="col col-img">
            {% if item.settings.image != blank %}
              {{
                item.settings.image
                | image_url: width: item.settings.image.width, height: item.settings.image.height
                | image_tag: class: 'img-cover'
              }}
            {% endif %}
          </div>
          <div class="col col-text flex items-center">
            <div class="inner-content">
              <div class="subheading">{{ item.settings.subheading }}</div>
              <div class="heading">{{ item.settings.heading }}</div>
              <div class="content">
                {{ item.settings.text }}
              </div>

              {% if item.settings.button_text_1 != blank or item.settings.button_text_2 != blank %}
                <div class="flex">
                  {% if item.settings.button_text_1 != blank %}
                    <a href="{{ item.settings.button_link_1 }}">
                      {{ item.settings.button_text_1 }}
                    </a>
                  {% endif %}

                  {% if item.settings.button_text_2 != blank %}
                    <a href="{{ item.settings.button_link_2 }}">
                      {{ item.settings.button_text_2 }}
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ 'embla-carousel.umd.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Home Hero",
  "class": "home-hero",
  "settings": [],
  "blocks": [
    {
      "type": "carousel-item",
      "name": "carousel-item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "1st Button Text"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "1st Button link"
        },
        {
          "type": "text",
          "id": "button_text_2",
          "label": "2st Button Text"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "2st Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Hero"
    }
  ]
}
{% endschema %}
