{% liquid
    assign scientificstudies = product.metafields.custom.scientific_studies.value
%}

<div class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} {{ section.settings.custom_css }}">
    
    {% for item in scientificstudies %}
        <div class="flex">
            <div class="number-index">
                {% if forloop.index < 10 %}
                    0{{ forloop.index }}
                {% else %}
                    {{ forloop.index }}
                {% endif %} 
            </div>
            
            <div class="item">
                {{ item }}
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "settings": [
    {
      "type": "text",
      "id": "custom_css",
      "label": "Custom CSS classes"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}