{% liquid
    assign scientificstudies = product.metafields.custom.scientific_studies.value
%}

<div class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} {{ section.settings.custom_css }}"
style=" padding-block-start: {{ settings.padding-block-start.value }} ">
    {% for item in scientificstudies %}
        <div class="flex">
            <div class="number-index">
                {% if forloop.index < 10 %}
                    0{{ forloop.index }}
                {% else %}
                    {{ forloop.index }}
                {% endif %} 
            </div>
            
            <div class="scientific-item">
                {{ item }}
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "Scientific Studies",
  "settings": [
    {
      "type": "text",
      "id": "custom_css",
      "label": "Custom CSS classes"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
        "name": "Scientific Studies"
    }
  ]
}
{% endschema %}