{% liquid
    assign timelineheader = product.metafields.custom.timeline_items.value
    assign timelinecontent = product.metafields.custom.timeline_items_content.value
%}

<div class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }} {{ section.settings.custom_css }}"
style=" padding-block-start: {{ section.settings.padding-block-start }}px; padding-block-end: {{ section.settings.padding-block-end }}px ">
    {% for item in timelineheader %}
        {% assign i = forloop.index0 %}
        {% assign otheritem = timelinecontent[i] %}
        <div class="timeline-number">
            {{ forloop.index }}
        </div>
        <div class="timeline-content">
            <h3>{{ item }}</h3>
            <p>{{ otheritem }}</p>
        </div>
    {% endfor %}
</div>


{% comment %} <div class="section">
  <div class="container">
    <!-- RIGHT TIMELINE -->
    <div class="right">
      <div class="timeline">

        {% for item in section.blocks %}
          <div class="timeline-item">
            
            <!-- NUMBER -->
            <div class="timeline-number">
              {{ forloop.index | prepend: '0' }}
            </div>

            <!-- CONTENT -->
            <div class="timeline-content">
              <h3>{{ item.settings.title }}</h3>
              <p>{{ item.settings.text }}</p>
            </div>

          </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div> {% endcomment %}
{% stylesheet  %} 
.section {
  padding: 40px;
  background: #f5f5f5;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* LEFT IMAGE */
.left img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

/* RIGHT SIDE */
.right {
  flex: 1;
}

.timeline {
  position: relative;
  padding-left: 40px;
}

/* vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #0a7c6f;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

/* number circle */
.timeline-number {
  position: absolute;
  left: -40px;
  top: 10px;
  background: #0a7c6f;
  color: #fff;
  font-size: 12px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content box */
.timeline-content {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.timeline-content h3 {
  margin: 0 0 0px;
  font-size: 16px;
}

.timeline-content p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
{% endstylesheet %}


{% schema %}
{
    "name": "Timeline Section",
    "settings": [
        {
        "type": "text",
        "id": "custom_css",
        "label": "Custom CSS classes"
        },
        {
        "type": "select",
        "id": "section_width",
        "label": "t:settings.width",
        "options": [
            {
            "value": "page-width",
            "label": "t:options.page"
            },
            {
            "value": "full-width",
            "label": "t:options.full"
            }
        ],
        "default": "page-width"
        },
        {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:settings.color_scheme",
        "default": "scheme-1"
        },
        {
        "type": "header",
        "content": "t:content.padding"
        },
        {
        "type": "range",
        "id": "padding-block-start",
        "label": "t:settings.top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
        },
        {
        "type": "range",
        "id": "padding-block-end",
        "label": "t:settings.bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Left Image"
        }
    ],
    "blocks": [
        {
        "type": "item",
        "name": "Timeline Item",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Title"
            },
            {
            "type": "textarea",
            "id": "text",
            "label": "Text"
            }
        ]
        }
    ],
    "presets": [
    {
        "name": "Timeline Section"
    }
  ]
}
{% endschema %}